@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
	overflow: visible;
}

.intro{
	height: 100%;
	width: 100%;
	margin: auto;
    background-image: url("../img/background-b.jpg");
	display: table;
	top: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.content h1{
	font-family: 'Raleway', sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 500%;
}

.content h2{
	font-family: 'Raleway', sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 250%;
}

.fa {
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #036A81;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #036A81 3px;
	text-transform: uppercase;
	text-decoration: none;
	
}

.fa:hover {
	color: #fff;
	border: solid #fff;
}

.para1 h1{
	color: black;
	text-align:center;
	font-family: Raleway;
}

.para1 p{
	text-align:center;
	font-family: Raleway;
}

.img-Photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}


.p{
	font-size: 160%;
	allign-height: 210%;
	text-allign: justify;
	margin: 3%;
	font-family: sans-serif;
}

/* TABS*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #8DA9B3;
	position: relative;
	
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #8DA9B3;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-family: Raleway;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.tab Year1{
	font-family: Oswald;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*footer navigation*/
footer
{
    width: 100%;
    text-align: center;
	color:#8DA9B3;
}

footer ul
{
    list-style-type: none;
}

footer ul li
{
    display: inline;
    margin: 15px;
}

footer ul li a
{
    font-family: 'Raleway';
    font-size: 70%;
    text-decoration: underline;
    padding: 10px 20px;
    border: none;
}

footer ul li a:hover
{
    color: #8DA9B3;
    background: white;
    border: none;
}


@media screen and (max-width: 768px){
	.content h1{
		font-size: 250%;
	}
	.content h2{
	font-size: 150%;
	}
	.linkdin {
		font-size: 110%;
		padding: 7px 15px;
	}
	p {
		font-size: 100%;
		line-height: 160%;
	}
}